<br>
<a id="regresar-btn" class="btn-floating btn-large waves-effect waves-light tooltipped" data-position="bottom" data-tooltip="Regresar"><i class="material-icons"> fast_rewind</i></a>
<div class="card-panel ">

    <form class="container">
        <blockquote>Aquí podrás modificar los datos de tu centro.</blockquote>
        <div class="row">
            <div class="input-field col s10 m8">
                <input id="centroNombre" type="text">
                <label for="centroNombre">Nombre del Centro</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s10 m8">
                <input id="centroDireccion" type="text">
                <label for="centroDireccion">Dirección</label>
            </div>
        </div>


        <div class="row">
            <div class="input-field col s12 m8">
                <input id="centroDescripcion" type="text">
                <label for="centroDescripcion">Descripción</label>
            </div>
        </div>
        <div class="row">
            <div class="col s10 m8">
                <div class="file-field input-field">
                    <div class="btn">
                        <span>Logo</span>
                        <input type="file">
                    </div>
                    <div class="file-path-wrapper">
                        <input id="centroLogo" class="file-path validate" type="text">
                    </div>
                </div>
            </div>
        </div>
        <div class="center-align">
            <a id="guardarCentro" class="waves-effect waves-light btn"><i class="material-icons right">send</i>Guardar</a>
        </div>
    </form>
</div>
