<br>
<a href="#/home" class="btn-floating btn-large waves-effect waves-light tooltipped" data-position="bottom" data-tooltip="Regresar"><i class="material-icons"> fast_rewind</i></a>
<div class="card-panel ">

    <form class="container" >
        <blockquote>Aquí podrás modificar los datos de tu centro.</blockquote>
        <div class="row">
            <div class="input-field col s10 m8">
                <input id="centroNombre" ng-model="centro.nombre" type="text">
                <label class="active" for="centroNombre">Nombre del Centro</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s10 m8">
                <input ng-model="centro.direccion" id="centroDireccion" type="text">
                <label class="active" for="centroDireccion">Dirección</label>
            </div>
        </div>


        <div class="row">
            <div class="input-field col s12 m8">
                <input ng-model="centro.descripcion"id="centroDescripcion" type="text">
                <label class="active" for="centroDescripcion">Descripción</label>
            </div>
        </div>
       
        <div class="center-align">
            <a ng-click="centro.guardar()" class="waves-effect waves-light btn"><i class="material-icons right">send</i>Guardar</a>
        </div>
    </form>
</div>
