.barraPrincipal {
    background-color: gainsboro;
    color: black;
}
.mdi-navigation-menu {
    padding-left: 20px;
}
div.btnMensajes {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
b.estado {
    padding-right: 30px;
}
a.menuEnlace{
    color:black;
}
img.logo{
 height:90px;
 width: 150px;
}