<br/>

<a ng-click="grupos.modalNuevoGrupoBtn()" class="btn-floating btn-large waves-effect waves-light tooltipped" data-position="bottom" data-tooltip="Nuevo Grupo"><i class="material-icons">add</i></a>

<a ng-click="grupos.modalEntrarGrupoBtn()" class="btn-floating btn-large waves-effect waves-light tooltipped" data-position="bottom" data-tooltip="Entrar en Grupo"><i class="material-icons">input</i></a>
</div>
<div ng-repeat="grupo in grupos.grupos" class="card small">
    <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="images/office.jpg">
    </div>
    <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">{{grupo.grupo.nombre}}<i class="material-icons right">more_vert</i></span>
        <br/>
        <div class="divider"></div>
        <br/>
        <span ng-show="grupo.responsable">
            <a ng-click="grupos.miembroGrupo(grupo.grupo)" class='btn-floating btn-medium waves-effect waves-light modal-trigger tooltipped' data-position='bottom' data-tooltip='Editar Miembros'><i class='material-icons'>recent_actors</i></a>
            <a ng-click="grupos.editarGrupo(grupo.grupo)" class='btn-floating btn-medium waves-effect waves-light  tooltipped' data-position='bottom' data-tooltip='Editar Grupo'><i class='material-icons'>reorder</i></a>
        </span>
        <a ng-click="grupos.verMensajes()" class='btn-floating btn-medium waves-effect waves-light tooltipped' data-position='bottom' data-tooltip='Ver Mensajes'><i class='material-icons'>question_answer</i></a>
    </div>
    <div class="card-reveal">
        <span class='card-title grey-text text-darken-4'><i class='material-icons left'>comment</i>{{grupo.grupo.nombre}}
        <i class='material-icons right'>close</i></span>
        <p>Autor: <span>{{grupo.grupo.idUsuarioSuperadministrador.nombre}}</span></p>
        <p>Descripcion: <span>{{grupo.grupo.descripcion}}</span></p>
        <p>El grupo es <span>{{grupo.privado}}</span></p>
    </div>


</div>
<div id="modalGrupo" class="modal">
    <div class="modal-content">

        <div id="nuevoGrupo" ng-show="grupos.entrar">
            <h4>Nuevo Grupo</h4>
            <div class="divider"></div>
            <div class="container">
                <div class="row">
                    <div class="input-field col l12">
                        <label for="nombreGrupo">Nombre del Grupo</label>
                        <input id="nombreGrupo" type="text" />
                    </div>
                    <div class="input-field col l12">
                        <label for="descripcionGrupo">Descripci&oacute;n del Grupo</label>
                        <input id="descripcionGrupo" type="text" />
                    </div>
                    <p>

                        <input class="with-gap" name="privadoCheck" type="radio" id="privado" value="s" />
                        <label for="privado">Privado</label>
                        <input class="with-gap" name="privadoCheck" type="radio" id="publico" value="n" />
                        <label for="publico">Publico</label>
                    </p>
                    <p>
                        <input class="with-gap" name="borrablesCheck" type="radio" id="borrableSi" value="s" />
                        <label for="borrableSi">Si Borrar</label>
                        <input class="with-gap" name="borrablesCheck" type="radio" id="borrableNo" value="n" />
                        <label for="borrableNo">No Borrar</label>
                    </p>
                </div>
                <div class="row">
                    <div class="center-align input-field col l12">
                        <button class="center btn waves-effect waves-light" id="btnNuevoGrupo">Crear
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div ng-hide="grupos.entrar">
            <div id="textoEntrarGrupo">
                <h4>Entrar Grupo</h4>
                <div class="divider"></div>
                <div class="container">
                    <div class="row">
                        <p>
                            <label class="active" for="entrarGrupos">Nombre del Grupo</label>
                            <select class="chosen-select browser-default" id="entrarGrupos" required></select>
                        </p>
                    </div>
                    <div class="row center-align">
                        <button class="btn waves-effect waves-light" id="btnEntrarGrupo">entrar
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
    </div>
</div>
<div id="modalGrupo2" class="modal">
    <div class="modal-content">

        <div id="textoNuevoMiembro">
            <h4>Nuevo/Modificar Miembro</h4>
            <div class="divider"></div>
            <div class="container">
                <div class="row">
                    <p>
                        <label class="active" for="usuarioCentro">Escoge a los usuarios que quieres agregar:</label>
                        <select class="chosen-select browser-default" id="usuarioCentro"></select>
                    </p>
                    <p>Quieres que sea Responsable? </p>
                    <p>
                        <input class="with-gap" name="responsablesCheck" type="radio" id="siResponsable" value="s" />
                        <label for="siResponsable">Si</label>
                    </p>
                    <p>
                        <input class="with-gap" name="responsablesCheck" type="radio" id="noResponsable" value="n" />
                        <label for="noResponsable">No</label>
                        <br/>
                        <br/>
                    </p>
                </div>
                <div class="row center-align">
                    <button class="btn waves-effect waves-light" id="btnNuevoMiembro">Agregar
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </div>
        <div id="textoEditarGrupo">
            <h4>Editar Grupo</h4>
            <div class="divider"></div>
            <div class="container">
                <div class="row">
                    <div class="input-field col l12">
                        <label for="nombreEditarGrupo">Nombre del Grupo</label>
                        <input id="nombreEditarGrupo" type="text" />
                    </div>
                    <div class="input-field col l12">
                        <label for="descripcionEditarGrupo">Descripci&oacuten del Grupo</label>
                        <input id="descripcionEditarGrupo" type="text" />
                    </div>
                    <p>
                        <input name="privadoEditarCheck" class="with-gap" type="radio" id="privadoEditar" value="s" />
                        <label for="privadoEditar">Privado</label>
                        <input class="with-gap" name="privadoEditarCheck" type="radio" id="publicoEditar" value="n" />
                        <label for="publicoEditar">Publico</label>
                    </p>

                    <p>
                        <input class="with-gap" name="borrablesEditarCheck" type="radio" id="borrableEditarSi" value="s" />
                        <label for="borrableEditarSi">Si Borrar</label>
                        <input class="with-gap" name="borrablesEditarCheck" type="radio" id="borrableEditarNo" value="n" />
                        <label for="borrableEditarNo">No Borrar</label>
                    </p>
                </div>
                <div class="row center-align">
                    <button class="btn waves-effect waves-light" id="btnEditarGrupo">Editar
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </div>


    </div>
    <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
    </div>
</div>
