<br/>
<a href="#/" class="regresar btn-floating btn-large waves-effect waves-light tooltipped" data-position="bottom" data-tooltip="Regresar"><i class="material-icons"> fast_rewind</i></a>
<a id="nuevoMensaje" class="btn-floating btn-large waves-effect waves-light tooltipped" ng-click="mensajes.mensajesModal()" data-position="bottom" data-tooltip="Nuevo Mensaje"><i class="material-icons">mode_edit</i></a>
<a id="salirGrupo" class="btn-floating btn-large waves-effect waves-light tooltipped" data-position="bottom" data-tooltip="Salir del Grupo"><i class="material-icons">delete</i></a>

<ul class='collapsible popout' data-collapsible='accordion'>
    <li>
        <div class='collapsible-header'><i class='material-icons left'>perm_identity</i>pedor jisdijiosdjds</div>
        <div class='collapsible-body'>
            <p>es teg ijijoj oj opkop poj poj poj poj poj</p>
            <b class='right estado'>fsdfsdfsdfdsfsdffdsdsf </b>
            <br/>
            <div class="divider"></div>
            <div class="btnMensajes">
                <a class='btn-floating btn-small waves-effect waves-light  nuevoMensaje-btn tooltipped' data-position='bottom' data-tooltip='Nuevo Mensaje'><i class='material-icons'>mode_edit</i></a>
                <a class='btn-floating btn-small waves-effect waves-light editarMensaje-btn tooltipped' data-position='bottom' data-tooltip='Editar Mensaje'><i class='material-icons'>reorder</i></a>
                <a class='btn-floating btn-small waves-effect waves-light borrarMensaje-btn tooltipped' data-position='bottom' data-tooltip='Borrar Mensaje'><i class='material-icons'>delete</i></a>
            </div>
        </div>
    </li>
    <li>
        <div class='collapsible-header'><i class='material-icons left'>perm_identity</i>pedor jisdijiosdjds</div>
        <div class='collapsible-body'>
            <p>es teg ijijoj oj opkop poj poj poj poj poj</p>
            <span class='right estado'>fsdfsdfsdfdsfsdffdsdsf </span>
            <br/>
            <div class="divider"></div>
            <div class="btnMensajes">
                <a class='btn-floating btn-small waves-effect waves-light  nuevoMensaje-btn tooltipped' data-position='bottom' data-tooltip='Nuevo Mensaje'><i class='material-icons'>mode_edit</i></a>
                <a class='btn-floating btn-small waves-effect waves-light editarMensaje-btn tooltipped' data-position='bottom' data-tooltip='Editar Mensaje'><i class='material-icons'>reorder</i></a>
                <a class='btn-floating btn-small waves-effect waves-light borrarMensaje-btn tooltipped' data-position='bottom' data-tooltip='Borrar Mensaje'><i class='material-icons'>delete</i></a>
            </div>
        </div>
    </li>
</ul>
<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Modal Header</h4>
        <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
        <a href="#mensajes" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>
