<div id="configuracionUsuario">
    <br/>
    <a class="regresar btn-floating btn-large waves-effect waves-light tooltipped" data-position="bottom" data-tooltip="Regresar"><i class="material-icons"> fast_rewind</i></a>
    <div class="card-panel">

        <form class="container">
            <h3>Datos del usuario</h3>
            <div class="row">
                <div class="input-field col s12 m6">
                    <input type="text" id="nombreUsuario" name="nombreUsuario" value="" />
                    <label class="active" for="nombreUsuario">Nombre y Apellidos</label>
                </div>
                <div class="input-field col s12 m6">
                    <input disabled type="text" id="emailUsuario" name="emailUsuario" value="" />
                    <label class="active" for="emailUsuario">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <a id="cambiarPasswordUsuario" class="waves-effect waves-light btn"><i class="material-icons right">vpn_key</i>Cambiar Password</a>

                </div>

                <div class="col s6">
                    <a id="guardarCambiosUsuario-btn" class="waves-effect waves-light btn"><i class="material-icons right">send</i>Guardar cambios</a>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12 m6">
                    <input disabled type="text" id="centroNombreUsuario" name="centroNombreUsuario" value="" />
                    <label class="active" for="centroNombreUsuario">Centro</label>
                </div>
                <div class="input-field col s12 m6">
                    <input disabled type="text" id="centroDireccionUsuario" name="centroDireccionUsuario" value="" />
                    <label class="active" for="centroDireccionUsuario">Direccion</label>
                </div>
            </div>
            <div class="row">

                <div class="input-field col s12 m12">
                    <input disabled type="text" id="centroDescripcionUsuario" name="centroDescripcionUsuario" value="" />
                    <label class="active" for="centroDescripcionUsuario">Descripcion</label>
                </div>
            </div>

            <div class="row">
                <div class="col l12">
                    <h5>Grupos que estas inscrito</h5>
                    <div id="miembrosVer"></div>

                </div>
            </div>
            <div class="divider"></div>
            <div class="row">
                <div class="col l12">
                    <h5>Grupos que eres responsable</h5>
                    <div id="responsablesVer"></div>

                </div>
            </div>

            <div class="divider"></div>



        </form>
    </div>

    <div id="modal2" class="modal">
        <div class="modal-content">
            <h4>Cambiar password</h4>
            <div class="row">
                <div class="input-field col s12 ">
                    <input type="password" id="viejoPassword" name="viejoPassword" value="" />
                    <label for="viejoPassword">Antiguo Password</label>
                </div>
                <div class="input-field col s12 ">
                    <input type="password" id="nuevoPassword" name="nuevoPassword" value="" />
                    <label for="nuevoPassword">Nuevo Password</label>
                </div>
                <div class="input-field col s12 ">
                    <input type="password" id="mismoPassword" name="mismoPassword" value="" />
                    <label for="mismoPassword">Repite el nuevo Password</label>
                </div>
            </div>
            <div class="row">
                <a id="guardarCambiosPassword-btn" class="waves-effect waves-light btn"><i class="material-icons right">send</i>Guardar cambios</a>
            </div>

        </div>
        <div class="modal-footer">
            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Salir</a>
        </div>
    </div>


</div>