<br/>
<a href="#/home" class="btn-floating btn-large waves-effect waves-light tooltipped" data-position="bottom" data-tooltip="Regresar"><i class="material-icons"> fast_rewind</i></a>
<a ng-show="mensajes.responsable"  ng-click="mensajes.nuevoMensaje()" class="ng-hide btn-floating btn-large waves-effect waves-light tooltipped" ng- data-position="bottom" data-tooltip="Nuevo Mensaje"><i class="material-icons">mode_edit</i></a>
<a ng-click="mensajes.salirGrupo()" class="btn-floating btn-large waves-effect waves-light tooltipped" data-position="bottom" data-tooltip="Salir del Grupo"><i class="material-icons">delete</i></a>

<ul class='collapsible popout' data-collapsible='accordion'>
    <li ng-repeat="mensaje in mensajes.mensajes" material-collapsible>
        <div class='collapsible-header'><i class='material-icons left'>perm_identity</i>{{mensaje.autor.nombre}}</div>
        <div class='collapsible-body'>
            <p>{{mensaje.texto}}</p>
            <b class='right estado'>{{mensaje.estado}} {{mensajes.formatearFecha(mensaje.modificado)}}</b>
            <br/>
            <div class="divider"></div>
            <div ng-show="mensajes.responsable" class="btnMensajes">
                <a ng-click="mensajes.nuevoMensaje()" class='btn-floating btn-small waves-effect waves-light   tooltipped' data-position='bottom' data-tooltip='Nuevo Mensaje'><i class='material-icons'>mode_edit</i></a>
                <a ng-click="mensajes.editarMensaje(mensaje)" class='btn-floating btn-small waves-effect waves-light  tooltipped' data-position='bottom' data-tooltip='Editar Mensaje'><i class='material-icons'>reorder</i></a>
                <a ng-click="mensajes.borrarMensaje(mensaje.idMensaje)" class='btn-floating btn-small waves-effect waves-light tooltipped' data-position='bottom' data-tooltip='Borrar Mensaje'><i class='material-icons'>delete</i></a>
            </div>
        </div>
    </li>
</ul>

<!-- Modales -->
<div id="modalMensaje" class="modal">
    <div class="modal-content">
        <h4>Nuevo/Editar Mensaje</h4>
        <div class="divider"></div>
        <form ng-submit="mensajes.guardarMensaje()"  class="container">
            <div class="row">
                <div class=" input-field col s12">
                    <textarea id="textareaMensaje" ng-model="mensajes.fdatos.texto" class="materialize-textarea" length="250" spellcheck="true" required></textarea>
                    <label ng-class="mensajes.fdatos.texto ?'active':''" for="textareaMensaje">Texto</label>
                </div>
            </div>
            <div class="row center-align">
                <button type="submit" class="btn waves-effect waves-light">Guardar
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
    </div>
</div>
<div id="modalSalir" class="modal">
    <div class="modal-content">
        <h4>Salir del Grupo</h4>
        <div class="divider"></div>
        <form ng-submit="mensajes.salirGrupoBtn()" class="container">
            <div class="row">
                <p>Estas Seguro que quieres salir del grupo ?</p>
            </div>
            <div class="row center-align">
                <button class="btn waves-effect waves-light" id="btnSalirGrupo">Salir
                    <i class="material-icons right">delete</i>
                </button>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
    </div>
</div>
<div id="modalBorrar" class="modal">
    <div class="modal-content">
        <h4>Borrar Mensaje</h4>
        <div class="divider"></div>
        <div class="container">
            <div class="row">
                <p>Estas seguro de borrar este mensaje ?</p>
            </div>
            <div class="row">
                <div class=" center-align input-field col l12">
                    <button class="btn waves-effect waves-light" ng-click="mensajes.borrarMensajeBtn()">Borrar
                        <i class="material-icons right">delete</i>
                    </button>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
    </div>
</div>
